video_writer.py
resize.mp4
end_user_details_zones_configurations/user1_cam1.json
events_out/
check_system_processor.ipynb
detect_hardware.py
facemotion2.png
motion-detection-real-surroundings.mp4
notebook.ipynb
object_of_interest.py
yolo11n.pt
